* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: url(nursaid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.share {
    width: 400px;
    margin: auto;
    margin-top: 20%;
    height: 80px;
    backdrop-filter: blur(8px);
    border-radius: 50px;
    overflow: hidden;
}
.btn {
    width: 400px;
    height: 100px;
    border-radius: 6%;
    transform: 60px;
    backdrop-filter: blur(8px);
    background-color: #9e9e9e62;
    font-size: 25px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transition-delay: 0.3s;
    text-align: center;
    transform:translate(0, 0);

}
.btns {
    height: 80px;
    width: 400px;
    border-radius: 50px;
    transform: translate(-100%, -180%);
    transition: 0.5s;
    transition-delay: 0.3s;
    display: flex;
    justify-content: space-around;

}
.icon {
    width: 50px;
    height: 50px;
    margin: 14px;
    font-size: 20px;
    text-align:center ;
    color: #fff;
    background-color: #9e9e9e62;
    border-radius: 50%;
    cursor: pointer;
}
i{
    margin-top: 15px;
    transition: all 0.2s;
}
.icon:hover {
    color: #151515;
}
.share:hover .btn {
    transform: translate(100%, 100%);
}
.share:hover .btns {
    transform: translate(0, -130%);
    margin: 0;
}